#navbar{
    margin:-1px 500px -1px 500px;
}

#navbar li{
    font-size:200%;
    display:inline-block;
    border:7px ridge rgb(142, 142, 127);
    /*margin-left:1%;*/
}

#navbar a{
    color:rgb(119, 173, 120);
}